/* 
*  ----- Reset -----
*/
*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*  
*  ----- Google Fonts & Typography -----
*/
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Archivo+Black&display=swap');

h4 {
    font-family: 'Montserrat', serif;
    font-size: 25px;
    line-height: 28px;
    color: #009ade;
    text-transform: uppercase;
    text-align: center;
    padding: 1em;
}

/*  
*  ----- General Styles -----
*/
body {
    background-color: #ffffff;
    font-family: 'Montserrat', serif;
    font-size: 1em;
    color: #232730;
    width: 85%;
    margin: 0 auto;
}

/*  
*  ----- Simple Grid/Columns -----
*/
[class*='column-'] {
    float: left;
    padding: 1em;
    min-height: 1px; 
}

.row::before,
.row::after {
    content: " ";
    display: table;
}

.row::after {
    clear: both;
}

@media only screen and (min-width: 75em) {
    .column-6 {
        width: 50%;
    }
}

@media only screen and (max-width: 75em) and (min-width: 55em) {
    .column-6 {
        width: 50%;
    }
}

@media only screen and (max-width: 55em) {
    .column-6 {
        width: 100%;
        float: none; 
    }
}

/*  
*  ----- All Forms -----
*/
fieldset {
    border-width: 0;
    border-color: #f3f3f3;
    margin: 2em 1em;
}

legend {
    text-align: center;
    margin-bottom: 2em;
    text-transform: uppercase;
}

form input[type="text"],
form input[type="tel"] 
{
  font-family: 'Montserrat', serif;
  font-size: 1em;
  padding: 1em;
    margin-bottom: 2em;
    display: block;
    border: none;
    border-bottom: 2px solid #2b2b2b;
    width: 100%;
}

form input[type="text"]:hover,
form input[type="tel"]:hover {
    font-family: 'Montserrat', serif;
    font-size: 1em;
    border: none;
    border-bottom: 2px solid #009ade;
    background: #f3f3f3;
}

form input[type="submit"] {
  border: none;
    display: block;
    margin: auto;
    padding: 2em 3em;
    font-family: 'Montserrat', serif;
    background-image: linear-gradient(45deg, #047eb3, #009ade);
    color: #ffffff;
    text-transform: uppercase;
    border-radius: 90px;
    width: 80%;
}

form input[type="submit"]:hover {
    background: #00a42e;
}

form label {
    font-family: 'Montserrat', serif;
    text-transform: uppercase;
    color: #1b1b1c;
}
/*  
*  ----- Text area -----
*/ 
textarea {
  font-family: 'Montserrat', serif;
  font-size: 1em;
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

/*  
*  ----- Upload image -----
*/ 



/*  
*  ----- Unique Forms -----
*/
.contact-form {
    -webkit-box-shadow: 0px 3px 6px -2px rgba(0,0,0,0.7);
    -moz-box-shadow: 0px 3px 6px -2px rgba(0,0,0,0.7);
    -o-box-shadow: 0px 3px 6px -2px rgba(0,0,0,0.7);
    -ms-box-shadow: 0px 3px 6px -2px rgba(0,0,0,0.7);
    box-shadow: 0px 3px 6px -2px rgba(0,0,0,0.7);
    padding: 2em;
}

.contact-form .instructions {
    text-align: center;
    padding: 2em 1em;
    background: #f3f3f3;
}